# Arduino
*.hex
*.elf
*.eep
*.lss
*.map
*.sym

# Proteus
*.workspace
Backup Of *.pdsprj
Last Loaded *.pdsprj

# Sistema
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*~

# IDEs
.vscode/
.idea/
*.sublime-*

# Logs
*.log

# Videos (arquivos grandes)
*.mp4
*.avi
*.mov
